body{
    font-family: sans-serif;
    
}
.img1 {
content: url("https://picsum.photos/id/237/200/300");
}

.img2 {
content: url("https://picsum.photos/seed/picsum/200/300");
}

.img3 {
content: url("https://picsum.photos/200/300?grayscale");
}
.img4 {
content: url("https://picsum.photos/200/300/");
}
.img5 {
content: url("https://picsum.photos/200/300.jpg");
}

img {
margin: 10px;
border: 5px solid #555;
width: 10%;
}

.flex {
display: flex;
justify-content: center;
}

.selected {
border: 5px solid rgb(0, 195, 255);
}

p {
text-align: center;
}

button {
margin: 20px;
}
h1{
text-align: center;
}
#h{
text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 5px ;
}
.button-container{
display: flex;
justify-content: center;
align-items: center;
}
#reset, #verify {
display: flex; /* Ensure buttons are inline */
justify-content: center;
margin: 0 10px; /* Add space between the buttons */
padding: 10px 20px; /* Add some padding for better aesthetics */
font-size: 16px; /* Adjust font size */
cursor: pointer; /* Change cursor to pointer on hover */
}
#para{
font-size: 25px;
}